main {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 64px 1fr 200px;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
}

h3 {
  color: #4949b3;
  text-transform: none;
  font-weight: bold;
  font-size: 2rem;
}

.background section {
  grid-area: main;
  margin: 64px 15%;
  display: grid;
  grid-template-areas: '. .';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.background .section {
  display: flex;
  flex-direction: column;
}

.background .skeleton {
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
}

.background .h1 {
  height: 42px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 50px;
}

.background .p {
  height: 18px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
}

.background .button {
  height: 60px;
  width: 100%;
  border-radius: 30px;
  margin: 30px 0;
}

.background .avatar {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  margin: 24px 0;
  align-self: center;
}

.background .box {
  height: 121px;
  width: 121px;
  align-self: flex-end;
}

form {
  color: #909090;
}

form label {
  font-size: 14px;
}

.space-lg {
  margin-bottom: 32px;
}

.form-control {
  border: 2px solid #dddddd;
}

.app .btn-primary {
  background: #43cad9 !important;
  padding: 10px;
  width: 50%;
  font-weight: 500;
  border-radius: 30px;
}

.fg {
  z-index: 2;
  position: absolute;
  right: 120px;
  height: 500px;
  width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.background {
  opacity: 0.2;
  z-index: 1;
}
